@model IEnumerable<EntityLayer.Concrete.Student>
@using System.Linq
@{
    ViewBag.Title = "IndexS";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: -40px; /* Buton ve diğer içerik arasında boşluk bırakmak için */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>BANÜ Öğrenci Listesi</h2>
        <div class="btn-container">
            <a href="/Student/AddStudent/" class="btn btn-info">Yeni Öğrenci Kaydı</a>
        </div>
        </br>
        <label for="studentClass">Görüntülemek İstediğiniz Sınıfı Seçiniz:</label>
        <select id="studentClass" name="studentClass" class="form-control mb-3">
            <option value="">Sınıf Seçimi Yapınız:</option>
            @for (int grade = 6; grade <= 8; grade++)
            {
                for (char section = 'A'; section <= 'D'; section++)
                {
                    string className = $"{grade}-{section}";
    <option value="@className">@className</option>
}
}
        </select>

        <div class="card">
            <div class="card-header">Öğrenci Listesi</div>
            <div class="card-body">
                <ul id="studentList" class="row">
                    <!-- Student list will be populated here -->
                </ul>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('#studentClass').change(function() {
                    var selectedClass = $(this).val();
                    if (selectedClass) {
                        $.ajax({
                            url: '@Url.Action("GetStudentsByClass", "Student")',
                            type: 'GET',
                            data: { studentClass: selectedClass },
                            success: function(data) {
                                $('#studentList').empty();
                                if (data.length > 0) {
                                    $.each(data, function(index, student) {
                                        $('#studentList').append(`
                                        <li class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                            <div class="card bg-light mb-3">
                                                <div class="card-header text-muted border-bottom-0">
                                                    ${student.StudentClass}
                                                </div>
                                                <div class="card-body pt-0">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h2 class="lead"><b>${student.StudentName} ${student.StudentSurname}</b></h2>
                                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Mail: ${student.StudentUserName}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-5 text-center">
                                                            <img src="${student.StudentImage}" alt="" class="img-circle img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="text-right">
                                                        
                                                        <a href="/Student/EditStudent/${student.StudentID}" class="btn btn-sm btn-primary">
                                                            <i class="fas fa-user"></i> Profili Düzenle
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>`);
                                    });
                                } else {
                                    $('#studentList').append('<li class="col-12">No students found</li>');
                                }
                            },
                            error: function() {
                                $('#studentList').empty();
                                $('#studentList').append('<li class="col-12">Error retrieving students</li>');
                            }
                        });
                    } 
                });
            });
        </script>

        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card bg-light mb-3">
                <div class="card-header text-muted border-bottom-0">
                    @item.StudentClass
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="lead"><b>@item.StudentName @item.StudentSurname</b></h2>

                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Kullanıcı Adı: @item.StudentUserName</li>
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Kullanıcı Şifresi: @item.StudentPassword</li>
                            </ul>
                        </div>
                        <div class="col-5 text-center">
                            <img src="@item.StudentImage" alt="" class="img-circle img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">

                        <a href="/Student/EditStudent/@item.StudentID" class="btn btn-sm btn-primary">
                            <i class="fas fa-user"></i> Profili Düzenle
                        </a>
                    </div>
                </div>
            </div>
        </div> }
}

                </div>
            </div>
        </div>
    </div>
</body>
</html>