@model EntityLayer.Concrete.SchoolClass
@{
    ViewBag.Title = "AddSchoolClass";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h1>Yeni Sınıf Ekleme Sayfası</h1>
<br />

@using (Html.BeginForm("AddSchoolClass", "SchoolClass", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.ClassList, "Sınıf Adı")
        @Html.TextBoxFor(x => x.ClassList, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ClassList)
        <br /><br />
        @Html.LabelFor(x => x.ClassesTeacher, "Öğretmen Adı")
        @Html.TextBoxFor(x => x.ClassesTeacher, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ClassesTeacher)
        <br /><br />
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
}


