@model EntityLayer.Concrete.Teacher

@{
    ViewBag.Title = "TeacherProfile";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}


<h2>Profilinizi Düzenleyin</h2>
@using (Html.BeginForm("TeacherProfile", "TeacherPanel", FormMethod.Post))
{
    <div class="form-group">
        @*@Html.Label("Yazar ID")*@
        @Html.HiddenFor(x => x.TeacherID, new { @class = "form-control" })
        @Html.Label("Kişi Adı")
        @Html.TextBoxFor(x => x.TeacherName, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.TeacherName)*@
        @Html.ValidationMessageFor(x => x.TeacherName, null, new { @class = "text-danger" })
        <br />
        @Html.Label("Kişi Soyadı")
        @Html.TextBoxFor(x => x.TeacherSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TeacherSurname)
        <br />
        @Html.Label("Kişi Mail")
        @Html.TextBoxFor(x => x.TeacherMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TeacherMail)
        <br />
        @Html.Label("Kişi Şifresi")
        @Html.TextBoxFor(x => x.TeacherPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TeacherPassword)
        <br />
        @Html.Label("Kişi Görsel Linki")
        @Html.TextBoxFor(x => x.TeacherImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TeacherImage)
        <br />
        @Html.Label("Kişi Branşı")
        @Html.TextBoxFor(x => x.TeacherClass, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TeacherClass)
        <br />
        @Html.Label("Kişi Hakkında")
        @Html.TextBoxFor(x => x.TeacherAbout, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TeacherAbout)
        <br />
        <button class="btn btn-success">Değişiklikleri Uygula</button>
    </div>
}

