@model IEnumerable<EntityLayer.Concrete.StudentText>
@using EntityLayer.Concrete
@{
    ViewBag.Title = "TextResults";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .fixed-height-row {
            height: 70px;
        }

        .text-right {
            text-align: right;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sonuç Ekranı</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <!-- Filtreleme Formu -->
        <form method="get" action="@Url.Action("TextResults", "TextResults")">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="studentClass">Görüntülemek İstediğiniz Sınıfı Seçiniz:</label>
                        @Html.DropDownList("studentClass", ViewBag.SchoolClasses as IEnumerable<SelectListItem>, new { @class = "form-control mb-3", id = "studentClass" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="selectedDate">Tarih Seçiniz:</label>
                        @Html.DropDownList("selectedDate", ViewBag.Dates as SelectList, "Tüm Tarihler", new { @class = "form-control mb-3", id = "selectedDate", onchange = "this.form.submit();" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="studentSearch">Öğrenci Arama:</label>
                        <input type="text" id="studentSearch" name="studentSearch" class="form-control mb-3" placeholder="İsim veya Soyisim ile Arama Yapın" value="@Request.QueryString["studentSearch"]">
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </form>

        <!-- Öğrenci Metinleri Listesi -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Öğrenci Metinleri</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%"></th>
                            <th style="width: 5%">Sınıf</th>
                            <th style="width: 8%">Öğrenci Adı</th>
                            <th style="width: 19%">Metin İçeriği</th>
                            <th style="width: 9%" class="text-right">Sonuçlar</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td>@item.Student.StudentClass</td>
                                <td>
                                    <div>
                                        <img alt="Avatar" class="table-avatar" src="@item.Student.StudentImage">
                                    </div>
                                    <small>@item.Student.StudentName @item.Student.StudentSurname</small>
                                </td>
                                <td>
                                    <div>
                                        <a>@Html.Raw(item.StudentTextContent)</a>
                                        <br />
                                        <small>@item.StudentTextDate.ToString("dd-MMM-yyyy")</small>
                                    </div>
                                </td>
                                <td class="text-right">@item.ClassificationResult</td>
                                <td class="project-actions text-right"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
